/* Selector
Ejercicio con css

1.- crear un documento html y vincularlo con un css
2.- crear una estructura html que cuente con un contenedor general, que tenga un cabezar, una barra lateral, seccion de contenido principal,
elementos dentro del contenedor principal, y footer
3.- Todo el contenido debe de estar dentro del contendor principal, tendra un 1200px y centrado
4.- el header debe ocupar el 100% del ancho y texto centrado
5.- menu debe de tener los elementos uno a lado del otro
6.- el contenido principal debe tener un ancho del 70%
7.- el contenido dentro del contenedor principal debe ser una cuadricula con 4 linas de2 cajas
8.- La barra lateral debe tener un ancho del 30%
9.- El footer debe tene run ancho del 100% del div que lo contiene y estar debajo de todo

*/

*{
    margin: 0px;
    padding:0px;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
}

#general{
    width:1200px;
    border:1px solid black;
    margin:0px auto;
    margin-top:20px;
}

#header{
    width:100%;
    height: 98px;
    background-color: rgb(42, 42, 171);
    color:white;
    text-align: center;
    line-height: 80px;

}
.clearFix{
    float:none;
    clear:both;
}

#menu{
    background-color: #eee;
}
#menu ul li{
    display:block;
    float:left;
    
    border-right:1px solid grey;
}

#menu ul li a{
    display:block;
    padding:15px;
    color: black;
}

#menu ul li:hover {
    background-color: rgb(42, 42, 171);
    cursor:pointer;
}

#menu ul li:hover a{
    color: white;
}

#contenido{
    float:right;
    width:70%;

}

#lateral{
    float:left;
    width:29%;
    border:1px solid green;
    min-height:500px;
    max-height:500px;
    text-align:center;
    overflow-y:scroll;

}

#contenido > h1{
    text-align:center;
    border-bottom:3px;
    padding:10px;
    color:blue;

}

#contenido .caja{
    position:relative;
    width:40%;
    height: 250px;background-color: grey;
    border: 1px solid grey;
    color: white;
    float:left;
    margin:20px;
    margin-left:41px;
    text-shadow: 0px 0px 5px black;
    text-align:center;
    line-height:265px;
    box-shadow:0px 0px 15px grey;
    border-radius: px;

}

#sombra-interior{
    box-shadow: 0px 0px 25px grey inset !important;
}

footer{
    width:100%;
    height:60px;
    line-height:60px;
    background: #eee;
    text-align: center;
    color:black;
    
}


.libre{
    position:absolute;
    bottom:50%;
    right:50%;
    border: 1px solid black;
    background-color:red;
    color:white;
    height: 88px;
    width:50px;
    font-size:30px;
}

.libre2{
    z-index: 1;
    overflow:hidden;
    top:47%;
    left: 360px;
    background-color: green;
    height: 50px;
    width:50px;
}

.libre1{
    z-index:2;
}

.fija{
    position:fixed;
    bottom:10%;
    right:2%;
    border: 1px solid black;
    background-color:purple;
    color:white;
    height: 88px;
    width:50px;
    font-size:30px;
}