*{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:olive;
}
ul li{
    font-size:20px;
}

ul li:first-child{
    color:purple;
}

ul li:nth-child(3){
    color:orange;
}

/*Hover es tambien una pseudoclase!!*/